<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css"/>
   <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<style type="text/css">
  body{
        background-image: url(public/img/ls.webp);
        background-attachment: fixed;
        background-size:cover;
        background-position: 0 -100px;
        min-height:660px;
        color: white;
}

</style>
 <div class="container">
    <h2>List peminjaman </h2>
    <br>
    <button class="btn btn-danger" data-toggle="modal" data-target="#myModalAdd"><img src="public/img/add_16.png"> Add New</button>
    <table class="table table-striped " id="mytable">
      <thead>
        <tr>
          <th>Nomor transaksi</th>
          <th>Tanggal peminjaman</th>
          <th>Id petugas</th>
          <th>Id penyewa</th>
          <th>nomor polisi</th>
          <th>lama peminjaman</th>
          <th>harga</th>
          <th>jenis kelamin</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ no_transaksi }}</td>
          <td>{{ tgl_peminjaman }}</td>
          <td>{{ id_petugas }}</td>
          <td>{{ id_penyewa }}</td>
          <td>{{ no_pol }}</td>
          <td>{{ lama_peminjaman }}</td>
          <td>{{ harga }}</td>
          <td>{{ jk }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-primary edit" data-no_transaksi="{{ no_transaksi }}" data-tgl_peminjaman="{{ tgl_peminjaman }}" data-id_petugas="{{ id_petugas }}" data-id_penyewa="{{ id_penyewa }}" data-no_pol="{{ no_pol }}" data-lama_peminjaman="{{ lama_peminjaman }}" data-harga="{{ harga }}" data-jk="{{ jk }}" ><img src="public/img/edit_16.png"></a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-no_transaksi="{{ no_transaksi }}"><img src="public/img/hapus_16.png"></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- Add peminjaman-->
    <form action="/save_peminjaman" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
              <div class="form-group">
                   <input type="text" name="no_transaksi" class="form-control" placeholder="no_transaksi" required>
               </div>
               <div class="form-group">
                   <input type="date" name="tgl_peminjaman" class="form-control" placeholder="tgl_peminjaman" required>
               </div>
               <div class="form-group">
                
                   <input type="text" name="id_petugas" class="form-control " placeholder="id_petugas" required>
               </div>
               <div class="form-group">
                   <input type="text" name="id_penyewa" class="form-control" placeholder="id_penyewa" required>
               </div>
               <div class="form-group">
                   <input type="text" name="no_pol" class="form-control " placeholder="no_pol" required>
               </div>
               <div class="form-group">
                   <input type="text" name="lama_peminjaman" class="form-control" placeholder="lama" required>
               </div>
               <div class="form-group">
                   <input type="text" name="harga" class="form-control" placeholder="harga" required>
               </div>
               <div class="form-group">
                   <input type="text" name="jk" class="form-control" placeholder="jk" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Batal</button>
             </div>
           </div>
         </div>
        </div>
   </form>


   <!-- Edit peminjaman-->
   <form action="/update_peminjaman" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                 <div class="form-group">
                   <input type="text" name="tgl_peminjaman" class="form-control tgl_peminjaman" placeholder="tgl_peminjaman" required>
               </div>
               <div class="form-group">
                   <input type="text" name="id_petugas" class="form-control id_petugas" placeholder="id_petugas" required>
               </div>
               <div class="form-group">
                   <input type="text" name="id_penyewa" class="form-control id_penyewa" placeholder="id_penyewa" required>
               </div>
               <div class="form-group">
                   <input type="text" name="no_pol" class="form-control no_pol" placeholder="no_pol" required>
               </div>
               <div class="form-group">
                   <input type="text" name="lama_peminjaman" class="form-control lama_peminjaman" placeholder="lama" required>
               </div>
               <div class="form-group">
                   <input type="text" name="harga" class="form-control harga" placeholder="harga" required>
               </div>
               <div class="form-group">
                   <input type="text" name="jk" class="form-control jk" placeholder="jk" required>
               </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="no_transaksi" class="form-control no_transaksi">
              <button type="submit" class="btn btn-primary btn-sm">Update</button>
               <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
       </div>
  </form>

   <!-- Delete peminjaman-->
    <form id="add-row-form" action="/delete_peminjaman" method="post">
       <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 </div>
                 <div class="modal-body">
                         <strong>Yakin ingin menghapus?</strong>
                 </div>
                 <div class="modal-footer">
                      <input type="hidden" name="no_transaksi" class="form-control no_transaksi2" required>
                      <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                       <button type="button" class="btn btn-success btn-sm " data-dismiss="modal">Close</button>
                 </div>
              </div>
          </div>
       </div>
   </form>

<script src="/public/js/jquery-3.3.1.js"></script>
<script src="/public/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
      //showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var no_transaksi = $(this).data('no_transaksi');
        var tgl_peminjaman = $(this).data('tgl_peminjaman');
        var id_petugas = $(this).data('id_petugas');
        var id_penyewa = $(this).data('id_penyewa');
        var no_pol = $(this).data('no_pol');
        var lama_peminjaman = $(this).data('lama_peminjaman');
        var harga = $(this).data('harga');
        var jk = $(this).data('jk');
        $('#EditModal').modal('show');
        $('.tgl_peminjaman').val(tgl_peminjaman);
        $('.id_petugas').val(id_petugas);
        $('.id_penyewa').val(id_penyewa);
        $('.no_pol').val(no_pol);
        $('.lama_peminjaman').val(lama_peminjaman);
        $('.harga').val(harga);
        $('.jk').val(jk);
        $('.no_transaksi').val(no_transaksi);
      });
      //showing modal for delete record
      $('#mytable').on('click','.delete',function(){
        var no_transaksi = $(this).data('no_transaksi');
        $('#DeleteModal').modal('show');
        $('.no_transaksi2').val(no_transaksi);
      });
    });
</script>
</body>
</html>
